<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOmuc2874X9mB_8o3a8fV6BQAQp85KVxE</string>
	<key>GCM_SENDER_ID</key>
	<string>1041989294803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Google.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-4364d</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-4364d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041989294803:ios:4e63735674b78504101226</string>
</dict>
</plist>